# dependencies
node_modules/
venv/
.env

# python
__pycache__/
*.pyc

# build
dist/
build/

# logs
*.log

# vscode
.vscode/

# data
data/districts/
*.csv
*.parquet
*.h5
*.pt
*.pth

# OS
.DS_Store

# secrets
backend/secrets/
*.json
.env
